section{
	width:1280px;
	margin:0 auto;
	display:flex;
	flex-direction:column;
}
section > * {
	width:1000px;
	margin:0 auto;
}
.section-headline{
	text-align:center;
	margin:0 auto;
	margin-top:50px;
}
.mdBtn{
	width:48px;
	height:48px;
	padding:0;
	margin:1px;
}
.printList{

	border-collapse: collapse;
	border-top:3px solid black;
	border-bottom:3px solid black;
}
.printList>thead th{
    height:50px;
    border-bottom:1px solid black;
    background-color:rgba(174, 215, 232, 0.73);
}
.printList>tbody *{
    text-align:center;
    line-height:30px;
}
.printList>tbody>tr{
    border-bottom:1px solid #ddd;
}

